@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Dark Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #090d16;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4338ca;
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e293b #090d16;
}
